# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
.gitignore
package-lock.json
node_modules/
src/assets/
src/frontend/fonts/walkwaybold_regular_macroman/
.cpanel.yml
.prettierrc