# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
.gitignore
node_modules/
src/frontend/fonts/walkwaybold_regular_macroman/
.prettierrc
playlist_project.iml
README.md
/.env
log/access.log
.cpanel.yml
