div.title {
  /*width: 100%;*/
  text-align: center;
  /*position: relative;*/
  font-size: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /*z-index: 0;*/
  /*margin-left: 5%;*/
}

div#nul {
  visibility: hidden;
}

nav {
  justify-content: space-evenly;
}

div.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
div.search {
  /*position: relative;*/
  /*display: none;*/
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /*width: 50%;*/
  height: 100%;
  width: 100%;
}

div.results {
  overflow-y: auto;
  height: 100%;
  border: 1px solid white;
  opacity: 90%;
}

div.list-container {
  /*position: relative;*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div.list {
  /*display: flex;*/
  /*flex-direction: column;*/
  height: 80vh;
  overflow-y: scroll;
  border: 2px solid black;
  opacity: 90%;
}

div.list > div {
  display: flex;
  height: 100px;
  background-color: #f45137;
  border: 2px solid black;
  border-radius: 20px;
  /*text-align: center;*/
  align-items: center;
  justify-content: center;
  width: 300px;
}

div.background {
  height: 70%;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

div#bg-illustration {
  height: 100%;
}

#signinBtn {
  z-index: 2;
}
