@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@font-face {
  font-family: "Nobile";
  src: url("../fonts/nobile/Nobile-Bold.ttf");
  /*src: url("../fonts/nobile/Nobile-Regular.ttf");*/
}

:root {
  --first-color: #ffffff;
  --second-color: #000000;
  --third-color: #bb4c8f; /* mauve */
  --fourth-color: #fe672c; /* orange */
  --fifth-color: #e4473d; /* rouge */
}

html {
  /*background: linear-gradient(to right top, #ffffff, #dcd5fc, #b9acf7, #9483f0, #6c5be8, #6f4ae4, #7334df, #790fd8, #a100d5, #c200d1, #df00cc, #f900c7) no-repeat;*/
  background: linear-gradient(
      to right top,
      #bf0aa1,
      #d2008f,
      #e1007d,
      #eb006a,
      #f02258,
      #f3334d,
      #f44342,
      #f45137,
      #f55d30,
      #f56828,
      #f4721f,
      #f27d16
    )
    no-repeat;
  background-size: cover;
  height: 100%;
  /*font-family: "Quicksand", sans-serif, Bold;*/
  font-family: Nobile;
}

body {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  min-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  height: 45px;
  height: 6vh;
  /*background-color: #31a7e0;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 2%;
}
#menu-icon-bg {
  display: flex;
  align-items: center;
  height: 100%;
  border: 3px solid black;
  border-radius: 20px;
  padding: 8px;
  margin-left: 1%;
  margin-top: 1%;

  /*position: absolute;*/
}

img {
  max-width: 100%;
  max-height: 100%;
}
div.speaker-bg, img.speaker {
  /*pointer-events: none;*/
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input[type="button"] {
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 120px;
  border: 1px solid black;
  /*font-family: "Quicksand", sans-serif;*/
  font-family: Nobile;
  font-size: 1em;
  /*height: 70%;*/
  padding: 10px 30px 10px 30px;
}

h1 {
  color: var(--first-color);
  text-align: center;
  text-shadow: 2px 2px 5px var(--third-color);
  padding-right: 20%;
  padding-left: 20%;
  font-size: 40px;
  font-size: 3vw;
  margin-bottom: 25px;
  margin-bottom: 5vh;
}

#bg-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.speakers {
  height: 100%;
  /*background-color: #31a7e0;*/
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.speaker-bg {
  /*display: flex;*/
  align-items: center;
  /*background-color: #00b3ff;*/
  height: 100%;
}
img.small img.big {
  height: auto;
  width: auto;
}

div.small {
  height: 30vh;
}
div.small.left {
  margin-right: 10px;
}
div.small.right {
  margin-left: 10px;
}

div.big {
  height: 45vh;
}
.btncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 6vh;
  padding-top: 5%;
  /*padding-bottom: 1%;*/
}
#voteBtn {
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  margin-top: auto;
}
footer a {
  margin: 5px;
  color: var(--first-color);
  text-shadow: 1px 1px 5px var(--fourth-color);
  text-decoration: none;
  /*font-style: italic;*/
  font-size: 0.7em;
}
/*
 *  background-image: linear-gradient(to right top, #fe672c, #fd5747, #f54c5d, #e94770, #d84780, #c04b8d, #a55095, #895497, #645691, #465583, #33506e, #2f4858);
 *  final background :
 *   background-image: linear-gradient(to right top, #bf0aa1, #d2008f, #e1007d, #eb006a, #f02258, #f3334d, #f44342, #f45137, #f55d30, #f56828, #f4721f, #f27d16);
 *   important colors:
 *   #F22771
 *   #D91193
 *   #BF0AA1
 *   #F27D16
 *   #F24141
 */
