div#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  flex-grow: 1;
}

#signin-btn {
  margin-top: 1%;
}

#register-btn {
  background-color: #a73680;
  box-shadow: 0 8px 15px rgb(167 54 128/ 24000%);
  border-color: #a73680;
}

#register-btn:hover,
#register-btn:active {
  background-color: #fff;

  /* color: black; */
}

div.register {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

fieldset {
  height: 70%;
  width: 40%;
  border: 2px solid black;
  border-radius: 20px;
}

form.signin {
  display: flex;
  flex-direction: column;
  height: 100%;
}
