div.title {
  /* width: 100%; */
  text-align: center;
  height: 100%;
  /* position: relative; */
  font-size: 2vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  /* z-index: 0; */

  /* margin-left: 5px; */
}

div.title > p {
  cursor: pointer;
}

/** { */

/*  outline: 1px white solid; */

/* } */

nav {
  justify-content: space-evenly;
}
div.btnContainer.sign {
  position: absolute;
  right: 1%;
}
div.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  width: 100%;
  overflow-y: hidden;
}

div.search {
  /* position: relative; */

  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  margin-right: 1%;
  /*width: 100%;*/
}

input#add {
  margin-top: 2%;
  margin-bottom: 2%;
}

div.case {
  max-height: 100%;
  max-width: 100%;
  width: 40vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

div.tape-container {
  height: 20vw;
  display: flex;
  flex-direction: row;
  width: 40vw;
  flex-shrink: 0;
}

div.tape-container > div {
  height: 100%;
  width: 50%;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.rectangle-container {
  height: 50%;
  width: 50%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  transform: translateY(-2px);
  top: 25%;
}

div.rectangle-container.left {
  right: 0;
}

div.rectangle-container.right {
  left: 0;
}

div.circle-container {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.circle {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.inner-circle {
  width: 60%;
  height: 60%;
  border: 1px solid black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(117, 117, 117, 0.27);
}

div.search-input {
  display: flex;
  height: 30%;
  width: 100%;
  border: 1px solid black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

div.results {
  overflow-y: auto;
  height: 100%;
  border: 1px solid white;
  opacity: 0.9;
}

span.title {
  align-items: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

span.title.scroll:hover {
  animation: scroll 5s linear infinite;

  /* animation-play-state: running; */
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

div.list-container {
  /* position: relative; */
  max-height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 1%;
  /*border: 1px solid black;*/
  /*border-radius: 5px;*/
}

div.list {
  /* display: flex; */

  /* flex-direction: column; */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  /* border: 2px solid black; */

  opacity: 0.9;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 10px;

  width: 100%;
  scrollbar-width: thin;
  padding-right: 10px;
  scrollbar-color: white black;
}

div.list::-webkit-scrollbar {
  width: 10px;
}

div.list::-webkit-scrollbar-track {
  background: black;
}

div.list::-webkit-scrollbar-thumb {
  background-color: white;
}

div.song {
  height: 8vh;
  background-color: #f45137;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 2px;
}

div.background {
  height: 60%;
  position: absolute;
  bottom: 5%;
  width: 100%;
  z-index: -1;
}

div#bg-illustration {
  height: 100%;
}

#signin-btn {
  z-index: 2;
}

span.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-grow: 2;
}

span.info {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0;
  margin-right: 0;
}

span.info > span {
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 50%;
  margin: 0;
  display: inline-flex;
}

span.artist {
  /* margin-top: 1vh; */
  align-items: end;
}

span.votesnb-img {
  height: 100%;
  display: flex;
  align-items: center;
  width: 40%;
}

span.votesnb-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.cover {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 25%;
  min-width: 25%;
  justify-content: center;
}

span.cover-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 70%;
  width: auto;
  box-shadow: 1px 1px 5px black;

  /* object-fit: contain; */
}

div.song > span {
  /* border: 1px solid white; */
}

span.vote {
  height: 50%;
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 10%;
  z-index: 0;
}

img.vote {
  cursor: pointer;
}

img.vote.voted {
  box-shadow: 0 0 5px #fff;
  border-radius: 10px;
  background-color: white;
}

div.left-container,
div.right-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}

div.left-container {
  justify-content: flex-start;
  width: 80%;
}

div.right-container {
  justify-content: flex-end;
  width: 20%;
}

div#models {
  display: none;
  height: 0;
}

@media screen and (max-width: 768px) {
  div.title {
    font-size: 5vw;
  }
  input#signin-btn {
    display: none;
  }
  div.wrapper {
    flex-direction: column;
    align-items: center;
  }
  div.list-container {
    width: 80%;
    max-height: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0;
  }
  div.search {
    height: auto;
    width: 80%;
  }
  div.search-input {
    flex-direction: column;
    height: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  input#search {
    width: 90%;
    height: 50%;
    padding-right: 0;
    padding-left: 0;
  }
  input#add {
    height: 50%;
    padding: 5px 10px;
  }
  div.case {
    width: 60vw;
  }

  div.tape-container {
    width: 60vw;
    height: 30vw;
    background-color: #f45235;
    opacity: 80%;
  }
}

/* input#add { */

/*  width: 50px; */

/* } */
